body{
    box-sizing: border-box;
    background-color: black;
    width: auto;
    margin: auto;
    font-family: 'Chakra Petch', sans-serif;
}
aside{
    height: 400px;
    background-image: url(../img/bluesmoke.webp);
    z-index: 1000;
}
@media (max-width: 750px){
    .nav-lista{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        margin: auto;
    }
}
@media only screen and (max-width: 750px){
    aside{
        height: 650px;
    }
}
header{
    width: 100%;
    background-color: rgba(0, 0, 255, 0.1);
    position: absolute;
    z-index: 1000;
    transition: background-color .5s ease;
}
.scrolling-active{
    margin-top: 0;
    position: fixed;
    background-color: rgb(0,0,0);
    color: black;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
.kontener{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.navnav{
    transition: height .5s ease;
}
.leftli:hover{
    text-decoration: underline;
}
.lik{
    list-style-type: none;
    display: inline;
    color: #ffffff;
    font-size: 25px;
    margin: 30px;
    background: fixed;
    cursor: pointer;
    text-align: center;
}
.altMenu1{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 255, 0.1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}
.altMenu1 a{
    color: white;
    padding: 12px 15px;
    text-decoration: none;
    display: flex;
    text-align: center;
}
.altMenu1 a:hover {
    background-color: rgba(0, 0, 255, 0.1);
}
.altLi:hover .altMenu1 {
    display: block;
}
.leftli{
    float: right;
    margin-left: 10px;
}
.mainfo{
    display: flex;
    margin-top: 20px;
    text-align: justify;
}
.mainleft{
    width: 70%;
    padding-right: 20px;
    padding-left: 15px;
    margin-right: 15px;
    margin-left: 10px;
}
.mainright{
    float: right;
    background-color: rgb(47, 96, 185);
    width: 30%;
    margin-right: 10px;
    color: white;
    padding: 20px;
}
.right-a{
    color: white;
    text-decoration: none;
}
.right-a::after{
    color: white;
}
h1{
    color: white;
}
.spanh1{
    color: rgb(60, 60, 236);
}
p{
    color: white;
}
.hrmid{
    margin: auto;
}
li{
    color: white;
}
.headerh1{
    margin-top: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 10vh;
    font-weight: bold;
    text-shadow: #0008 5px 5px 5px;
    text-align: center;
}
.headerclass{
    text-decoration: none;
    margin: 15px;
    padding: 0;
}
li{
    color: white;
}